body {
    margin: 0;
    background-color: white;
    font-family: Catamaran;
}

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.post{
    display: flex;
    position: fixed;
    flex-direction: row;
}

h1 {
    font-family:Catamaran;
    font-size: 35px;
    font-weight: 400;
}

h2 {
    font-family:Catamaran;
    font-size: 15px;
    font-weight: 500;
    color: brown;
}

h3 {
    font-family:Catamaran;
    font-size: 15px;
    font-weight: 500;
    color: brown;

}

h4 {
    font-family:Catamaran;
    font-size: 20px;
    color: black;
}

p {
    font-family:Catamaran;
    font-size: 12px;
    font-weight: 500;

}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: flex;
    color: black;
    font-family: Catamaran;
    font-size: 20px;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
}

li a:hover {
    background-color: #D3D3D3;
}

.info {
    float: right;
    margin-right: 25px;
}

.center {
    text-align: center;
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.card {
    border-style: solid;
    margin: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }